@tailwind base;
@tailwind components;
@tailwind utilities;

.switcher-selected {
  background-color: #fff;
  color: #000;
}

.diseable-map-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Swiper configuration */
@media screen and (max-width: 768px) {
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-button-next {
    display: none !important;
  }
}
.swiper-button-prev {
  color: #fff !important;
  scale: 0.75;
}
.swiper-button-next {
  color: #fff !important;
  scale: 0.75;
}
.swiper-pagination-bullet-active-main {
  background: #fff !important;
}

/* Height of burger menu */
.burger-menu-height {
  height: calc(100vh - 4rem);
}

.leaflet-control-locate a.leaflet-bar-part div {
  background-position: left 8px top 8px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.leaflet-control-locate a.leaflet-bar-part div.loading {
  background-image: url(/assets/images/tower_lattice_communication.svg);
}
.leaflet-control-locate a.leaflet-bar-part div.locate {
  background-image: url(/assets/images/tower_lattice.svg);
}

/* Prevent text selection */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* lock scroling */
.lock-scrolling {
  overflow: hidden;
}

/* border colors*/
.border-color-1 {
  border-color: #ffff00;
}
.border-color-2 {
  border-color: #ffd900;
}
.border-color-3 {
  border-color: #ff9900;
}
.border-color-4 {
  border-color: #ff5e00;
}
.border-color-5 {
  border-color: #ff0062;
}
.border-color-6 {
  border-color: #8400ff;
}

@font-face {
  font-family: "Caveat Brush";
  src: url("../fonts/CaveatBrush-Regular.woff2") format("woff2"),
    url("../fonts/CaveatBrush-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-BoldItalic.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Bold.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Black.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-ExtraLight.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Light.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Italic.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Regular.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-LightItalic.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-SemiBold.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/TitilliumWeb-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blushes';
  src: url('../fonts/Blushes-Regular.eot');
  src: local('Blushes Regular'), local('Blushes-Regular'),
      url('../fonts/Blushes-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Blushes-Regular.woff2') format('woff2'),
      url('../fonts/Blushes-Regular.woff') format('woff'),
      url('../fonts/Blushes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blushes';
  src: url('../fonts/Blushes-BlackItalic.eot');
  src: local('Blushes Black Italic'), local('Blushes-BlackItalic'),
      url('../fonts/Blushes-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Blushes-BlackItalic.woff2') format('woff2'),
      url('../fonts/Blushes-BlackItalic.woff') format('woff'),
      url('../fonts/Blushes-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Blushes';
  src: url('../fonts/Blushes-Black.eot');
  src: local('Blushes Black'), local('Blushes-Black'),
      url('../fonts/Blushes-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Blushes-Black.woff2') format('woff2'),
      url('../fonts/Blushes-Black.woff') format('woff'),
      url('../fonts/Blushes-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Blushes';
  src: url('../fonts/Blushes-Italic.eot');
  src: local('Blushes Italic'), local('Blushes-Italic'),
      url('../fonts/Blushes-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Blushes-Italic.woff2') format('woff2'),
      url('../fonts/Blushes-Italic.woff') format('woff'),
      url('../fonts/Blushes-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

